.vs/
.idea/
.vscode/
/src/app/Plancraft.App.Infrastructure/obj
/src/app/Plancraft.App.Shared/obj
/src/app/Plancraft.Host/bin/Debug/net8.0
/src/app/Plancraft.Host/obj
/src/domain/Plancraft.Domain/bin/Debug/net8.0
/src/domain/Plancraft.Domain/obj
/src/domain/Plancraft.Domain.Enum/bin/Debug/net8.0
/src/domain/Plancraft.Domain.Enum/obj
/src/domain/Plancraft.Domain.Migrations/bin/Debug/net8.0
/src/domain/Plancraft.Domain.Migrations/obj
/src/domain/Plancraft.Domain.Repository/bin/Debug/net8.0
/src/domain/Plancraft.Domain.Repository/obj
/src/domain/Plancraft.Domain.Repository.Injection/obj
/src/domain/Plancraft.Domain.Specification/obj
/src/domain/Plancraft.Domain.Tests.Unit/obj
/src/app/Plancraft.App.Infrastructure/bin/Debug/net8.0
/src/app/Plancraft.App.Shared/bin/Debug/net8.0
/src/domain/Plancraft.Domain.Repository.Injection/bin/Debug/net8.0
/src/domain/Plancraft.Domain.Specification/bin/Debug/net8.0
/src/domain/Plancraft.Domain.Tests.Unit/bin/Debug/net8.0
