################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PlanCraft.API/obj
/src/API/PlanCraft.API/obj
